@import "bootstrap";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a69cac;
}

button{
    background-color: black !important;
    color: white !important;
    border-color: #ffb600 !important;
}

    button:hover{
        background-color: #a69cac !important;
        color: black !important;
    }

    button:hover a{
        color: black !important;
    }

button a{
    color: white !important;
}


/* navBar */


nav.bg-body-tertiary{
    background-color: #ffb600 !important;
}

/* footer */

footer h6, footer div.bg-black i{
    color: #ffb600;
}

footer div.bg-blacks {
    background-color: #ffb600 !important;
}

footer div.bg-black p{
    color: white;
}

footer div.bg-black p a{
    color: white;
}

footer a, footer p, footer i{
    text-decoration: none;
    color: black;
}

footer hr {
    color: black;
}

footer i:hover{
    color: white !important;
}


div.card {
    border-color: #ffb600 !important;
}