@import "bootstrap";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a69cac;
}

button{
    background-color: black !important;
    color: white !important;
}

    button:hover{
        background-color: white !important;
        color: black !important;
    }

    button:hover a{
        color: black !important;
    }

button a{
    color: white !important;
}


/* navBar */


nav.bg-body-tertiary{
    background-color: #ffb600 !important;
}

    ul.hovereggianti2 li a{
        color: black !important;
        border-radius: 5px;
    }

    ul.hovereggianti2>li>a:hover{
        background-color: black !important;
        color: #ffb600 !important;
    } 

nav ul li:last-of-type a{
    background-color: black;
    color: white !important;
    border-radius: 5px;
}



/* footer */

footer h6, footer div.bg-black i{
    color: #ffb600;
}

footer div.bg-black p{
    color: #ffb600;
}

footer div.bg-black p a{
    color: #ffb600;
}

footer a, footer p, footer i{
    text-decoration: none;
    color: #ffb600;
}

footer i:hover{
    color: white !important;
}