@import "bootstrap";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

button, a.btn-black{
    background-color: black !important;
    color: white !important;
    border-color: #ffb600 !important;
}

    button:hover, a.btn-black:hover{
        background-color: #ffb600 !important;
        color: black !important;
    }

    button:hover a{
        color: black !important;
    }

button a{
    color: white !important;
}

button.btnAccess:hover {
    border-color: black !important;
}


/* navBar */


nav.bg-body-tertiary{
    background-color: #ffb600 !important;
}

/* footer */

footer h6, footer div.bg-black i{
    color: #ffb600;
}

footer div.bg-blacks {
    background-color: #ffb600 !important;
}

footer div.bg-black p{
    color: white;
}

footer div.bg-black p a{
    color: white;
}

footer a, footer p, footer i{
    text-decoration: none;
    color: black;
}

footer hr {
    color: black;
}

footer i:hover{
    color: white !important;
}


div.card {
    border-color: #ffb600 !important;
}

div.headerArticles{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: white;
    height: 50vh;
    background-image: url('/public/bgArticles.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

div.headerAnime{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: white;
    height: 50vh;
    background-image: url('/public/bgAnime.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}